.gridLayout {
	display: grid;
	grid-template-areas: 'header' 'side-top' 'main' 'side-bottom';
	grid-template-columns: auto;
	grid-template-rows: 3rem auto auto auto;

	& > header {
		grid-area: header;
	}
	& > aside.top {
		grid-area: side-top;
	}
	& > aside.bottom {
		grid-area: side-bottom;
	}
	& > main {
		grid-area: main;
	}
	& > * {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

@media (width >= 64rem) {
	.gridLayout {
		--lyt-aside-w: minmax(250px, 1fr);
		--lyt-columns: var(--lyt-aside-w) minmax(auto, 64rem) var(--lyt-aside-w);

		--lyt-header-h: 3rem;
		--lyt-content-min-h: calc(100vh - var(--lyt-header-h));
		--lyt-rows: var(--lyt-header-h) minmax(var(--lyt-content-min-h), auto);

		grid-template-areas:
			'header header header'
			'side-left main side-right';
		grid-template-columns: var(--lyt-columns);
		grid-template-rows: var(--lyt-rows);

		& > header {
			display: grid;
			grid-template-areas: '. content .';
			grid-template-columns: var(--lyt-columns);

			& > * {
				grid-area: content;
			}
		}

		& > aside.right {
			grid-area: side-right;
		}
		& > aside.left {
			grid-area: side-left;
		}
	}
}
